<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malgosia.musicapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_play"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MilesActivity"
            android:label="@string/kind_of_blue" />
        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/now_playing" />
        <activity
            android:name=".RichardActivity"
            android:label="@string/here_little_richard" />
        <activity
            android:name=".FrankActivity"
            android:label="@string/songs_for_swingin_lovers" />
        <activity
            android:name=".SinatraActivity"
            android:label="@string/wee_small_hours"></activity>
    </application>

</manifest>